<md-card class="_md">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">银行卡管理</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-header>
        <div layout="row" layout-wrap>
            <section layout="row" layout-sm="column" layout-align="left bottom" layout-wrap>
                <md-button class="md-raised" ng-show="currentButtons.new.show" ng-click="showNewBankCard($event)">
                    {{currentButtons.new.name}}
                </md-button>
                <md-button class="md-raised md-primary" ng-show="currentButtons.update.show"
                           ng-click="showEditBankCard($event)">{{currentButtons.update.name}}
                </md-button>
                <md-button class="md-raised md-warn" ng-show="currentButtons.stop.show"
                           ng-click="removeBankCards($event)">{{currentButtons.stop.name}}
                </md-button>
                <md-button class="md-raised md-accent" ng-show="currentButtons.active.show"
                           ng-click="activeBankCards($event)">{{currentButtons.active.name}}
                </md-button>
                <div class="label">Raised</div>
            </section>
        </div>
    </md-card-header>
    <md-card-content>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <md-checkbox aria-label="Select All"
                                 ng-checked="isChecked()"
                                 md-indeterminate="isIndeterminate()"
                                 ng-click="toggleAll()">
                    </md-checkbox>
                </th>
                <th>
                    <div class="">#</div>
                </th>
                <th class="col-sm-2">卡号</th>
                <th class="col-sm-1">户主</th>
                <th class="col-sm-3">开户行</th>
                <th class="col-sm-1">日收入</th>
                <th class="col-sm-1">月收入</th>
                <th class="col-sm-1">年收入</th>
                <th class="col-sm-2">总收入</th>
                <th class="col-sm-1">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bankCard in items">
                <td>
                    <md-checkbox aria-label="Select one" ng-checked="exists(bankCard, selected)"
                                 ng-click="toggle(bankCard, selected)">
                    </md-checkbox>
                </td>
                <td>{{$index + 1}}</td>
                <td>{{bankCard.cardNumber}}</td>
                <td>{{bankCard.cardHolder}}</td>
                <td>{{bankCard.bankLocation}}</td>
                <td>{{bankCard.dailyIncome | currency:'￥'}}</td>
                <td>{{bankCard.monthlyIncome | currency:'￥'}}</td>
                <td>{{bankCard.annualIncome | currency:'￥'}}</td>
                <td>{{bankCard.totalIncome | currency:'￥'}}</td>
                <td>{{bankCard.active | isActive }}</td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>