<md-dialog aria-label="还款明细">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>还款明细</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
        <div class="row"></div>
        <md-grid-list md-cols="5" md-gutter="1em" md-row-height="4:3">
            <md-grid-tile></md-grid-tile>
        </md-grid-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" type="submit"
                   ng-click="">
            保存
        </md-button>
        <md-button class="md-raised md-warn" ng-click="cancel()">
            取消
        </md-button>
    </md-dialog-actions>
</md-dialog>