<md-dialog aria-label="还款明细">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>还款明细</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="row"></div>
            <!--<loan-records></loan-records>-->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-1">期数</th>
                    <th class="col-sm-1">金额</th>
                    <th class="col-sm-1">还款时间</th>
                    <th class="col-sm-2">银行卡</th>
                    <th class="col-sm-2">收据编号</th>
                    <th class="col-sm-1">收款人</th>
                    <th class="col-sm-4">备注说明</th>
                </tr>
                </thead>
                <tr ng-repeat="subLoanRecord in subLoanRecords">
                    <td>第 {{subLoanRecord.loanRecord.loanNum}} 期</td>
                    <td>{{subLoanRecord.receipts | currency:'¥'}}</td>
                    <td>{{subLoanRecord.receiptDate }}</td>
                    <td>{{subLoanRecord.bankCard.cardNumber }}</td>
                    <td>{{subLoanRecord.receiptNumber }}</td>
                    <td>{{subLoanRecord.payee.userName}}</td>
                    <td>{{subLoanRecord.description}}</td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" ng-click="cancel()">
            完成
        </md-button>
    </md-dialog-actions>
</md-dialog>