<md-dialog aria-label="新建分部数据">
    <form name="newBeidouBranchForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>新建分部数据</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" style="min-width: 400px">
                    <label>分部名称</label>
                    <input required md-no-asterisk name="branchName"
                           ng-model="beidouBranch.branchName">
                    <div ng-messages="newBeidouBranchForm.branchName.$error">
                        <div ng-messages-include="views/common/required.message.html"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>备注</label>
                    <textarea ng-model="beidouBranch.description" md-maxlength="150" rows="5"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit"
                       ng-click="newBeidouBranchForm.$valid && saveBeidouBranch()">
                保存
            </md-button>
            <md-button class="md-raised md-warn" ng-click="cancel()">
                取消
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>