<md-card class="_md">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">人员管理</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-header>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised" ng-click="showNewPerson($event)">新增</md-button>
            <md-button class="md-raised md-primary">修改</md-button>
            <md-button class="md-raised md-warn">删除</md-button>
            <div class="label">Raised</div>
        </section>
    </md-card-header>
    <md-card-content>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>电话</th>
                <th>类型</th>
                <th>地址</th>
                <th>身份证号</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr> <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>