<md-card class="_md">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">人员管理</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-header>
        <md-content class="white-background">
            <section layout="row" layout-sm="column" layout-align="center bottom" layout-wrap>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>姓名</label>
                    <input ng-model="facet.search_LIKE_name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>电话</label>
                    <input ng-model="facet['search_LIKE_phoneInfos.phoneNum']">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>身份证号</label>
                    <input ng-model="facet.search_LIKE_idNumber">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>地址</label>
                    <input ng-model="facet.search_LIKE_address">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>类型</label>
                    <md-select ng-model="facet.search_EQ_surety">
                        <md-option ng-repeat="surety in suretys" value="{{surety.surety}}">
                            {{surety.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div class="md-block" flex-gt-sm>
                    <md-button class="md-raised" ng-click="searchPersons()">查询</md-button>
                </div>
            </section>
            <section layout="row" layout-sm="column" layout-align="left bottom" layout-wrap>
                <md-button class="md-raised" ng-click="showNewPerson($event)">新增</md-button>
                <md-button class="md-raised md-primary" ng-click="showEditPerson($event)">修改</md-button>
                <md-button class="md-raised md-warn" ng-click="removePersons($event)">删除</md-button>
                <div class="label">Raised</div>
            </section>
        </md-content>
    </md-card-header>
    <md-card-content>
        <table class="table table-hover">
            <thead>
            <tr>
                <th><md-checkbox aria-label="Select All"
                                 ng-checked="isChecked()"
                                 md-indeterminate="isIndeterminate()"
                                 ng-click="toggleAll()">
                </md-checkbox></th>
                <th><div class="">#</div></th>
                <th class="col-sm-1">姓名</th>
                <th class="col-sm-3">电话</th>
                <th class="col-sm-1">类型</th>
                <th class="col-sm-5">地址</th>
                <th class="col-sm-2">身份证号</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in items">
                <td><md-checkbox aria-label="Select one" ng-checked="exists(person, selected)" ng-click="toggle(person, selected)">
                </md-checkbox></td>
                <td>{{$index + 1}}</td>
                <td>{{person.name}}</td>
                <td>{{person.phoneInfos | phoneNums}}</td>
                <td>{{person.surety | isSurety}}</td>
                <td>{{person.address}}</td>
                <td>{{person.idNumber}}</td>
            </tr>
            </tbody>
        </table>
        <section layout="row" layout-padding="">
            <cl-paging flex cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
        </section>
    </md-card-content>
</md-card>