<md-card class="_md">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">还款记录查询</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-header>
        <div layout="row" layout-wrap>
            <section flex="100" layout="row" layout-sm="column" layout-align="center bottom" layout-wrap>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>档案号</label>
                    <input ng-model="facet['search_LIKE_loanInfo.loanInfoNum']">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>车牌号</label>
                    <input ng-model="facet['search_LIKE_loanInfo.vehicle.licensePlate']">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>贷款人</label>
                    <input ng-model="facet['search_LIKE_loanInfo.vehicle.holder.name']">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>担保人</label>
                    <input ng-model="facet['search_LIKE_loanInfo.surety.name']">
                </md-input-container>
                <md-input-container>
                    <label>还款日期从</label>
                    <input md-no-asterisk uib-datepicker-popup ng-model="facet.search_GTE_receiptDate_DATE"
                           ng-click="openDatePopup('GTE_receiptDate')" is-open="datePopup.GTE_receiptDate" show-button-bar="false"/>
                </md-input-container>
                <md-input-container>
                    <label>到</label>
                    <input md-no-asterisk uib-datepicker-popup ng-model="facet.search_LTE_receiptDate_DATE"
                           ng-click="openDatePopup('LTE_receiptDate')" is-open="datePopup.LTE_receiptDate" show-button-bar="false"/>
                </md-input-container>
                <div class="md-block" flex-gt-sm>
                    <md-button class="md-raised" ng-click="searchSubLoanRecords()">查询</md-button>
                </div>
            </section>
        </div>
    </md-card-header>
    <md-card-content>
        <table class="table table-hover">
            <thead>
            <tr>
                <th><div class="">#</div></th>
                <th class="col-sm-1">档案号</th>
                <th class="col-sm-1">车牌号</th>
                <th class="col-sm-1">贷款人</th>
                <th class="col-sm-1">担保人</th>
                <th class="col-sm-1">期数</th>
                <th class="col-sm-1">金额</th>
                <th class="col-sm-1">还款时间</th>
                <th class="col-sm-1">银行卡</th>
                <th class="col-sm-1">收款人</th>
                <th class="col-sm-2">备注</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="subLoanRecord in items">
                <td>{{$index + 1}}</td>
                <td>{{subLoanRecord.loanInfo.loanInfoNum}}</td>
                <td>{{subLoanRecord.loanInfo.vehicle.licensePlate}}</td>
                <td>{{subLoanRecord.loanInfo.vehicle.holder.name}}</td>
                <td>{{subLoanRecord.loanInfo.surety.name}}</td>
                <td>第 {{subLoanRecord.loanRecord.loanNum}} 期</td>
                <td>{{subLoanRecord.receipts}}</td>
                <td>{{subLoanRecord.receiptDate}}</td>
                <td>{{subLoanRecord.bankCard.cardNumber}}</td>
                <td>{{subLoanRecord.payee.userName}}</td>
                <td>{{subLoanRecord.description}}</td>
            </tr>
            </tbody>
        </table>
        <section layout="row" layout-align="end end">
            <cl-paging flex cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
            总共 {{paging.totalElements}} 条记录
        </section>
    </md-card-content>
</md-card>