<md-card class="_md">
    <md-card-header>
        <md-card-avatar>
            <img src="img/icons/angular-logo.svg">
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">AngularJS</span>
            <span class="md-subhead">Material</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Card header</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <button ng-click ="printOpen()">打印</button>
        <button ng-click ="test();">测试功能</button>
    </md-card-content>
</md-card>