<md-card class="_md">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">车辆管理</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-header>
        <div layout="row" layout-wrap>
            <section flex="100" layout="row" layout-sm="column" layout-align="center bottom" layout-wrap>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>姓名</label>
                    <input ng-model="facet['search_LIKE_holder.name']">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>车牌号</label>
                    <input ng-model="facet['search_LIKEIGNORE_licensePlate']">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>车辆品牌</label>
                    <input ng-model="facet.search_LIKE_brand">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>车架号</label>
                    <input ng-model="facet.search_LIKEIGNORE_frameNumber">
                </md-input-container>
                <md-input-container>
                    <label>保险到期时间从</label>
                    <input md-no-asterisk uib-datepicker-popup ng-model="facet.search_GTE_endInsuranceTime_SHORTDATE"
                           ng-click="openDatePopup('GTE_endInsuranceTime')" is-open="datePopup.GTE_endInsuranceTime" show-button-bar="false"/>
                </md-input-container>
                <md-input-container>
                    <label>到</label>
                    <input md-no-asterisk uib-datepicker-popup ng-model="facet.search_LTE_endInsuranceTime_SHORTDATE"
                           ng-click="openDatePopup('LTE_endInsuranceTime')" is-open="datePopup.LTE_endInsuranceTime" show-button-bar="false"/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>状态</label>
                    <md-select ng-model="facet.search_EQ_detain">
                        <md-option ng-repeat="detain in detains" value="{{detain.detain}}">
                            {{detain.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div class="md-block" flex-gt-sm>
                    <md-button class="md-raised" ng-click="searchVehicles()">查询</md-button>
                </div>
            </section>
            <section layout="row" layout-sm="column" layout-align="left bottom" layout-wrap>
                <md-button class="md-raised" ng-click="showNewVehicle($event)">新增</md-button>
                <md-button class="md-raised md-primary" ng-click="showEditVehicle($event)">修改</md-button>
                <md-button class="md-raised md-warn" ng-click="removeVehicles($event)">删除</md-button>
                <md-button class="md-raised md-accent" ng-click="detainVehicles($event)">扣押</md-button>
                <md-button class="md-raised" ng-click="unDetainVehicles($event)">解除</md-button>
                <div class="label">Raised</div>
            </section>
        </div>
    </md-card-header>
    <md-card-content>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <md-checkbox aria-label="Select All"
                                 ng-checked="isChecked()"
                                 md-indeterminate="isIndeterminate()"
                                 ng-click="toggleAll()">
                    </md-checkbox>
                </th>
                <th>
                    <div>#</div>
                </th>
                <th class="col-sm-1">姓名</th>
                <th class="col-sm-1">车牌号</th>
                <th class="col-sm-2">车辆品牌</th>
                <th class="col-sm-1">车架号</th>
                <th class="col-sm-1">上户时间</th>
                <th class="col-sm-2">保险时间</th>
                <th class="col-sm-2">保险剩余天数</th>
                <th class="col-sm-1">评估价</th>
                <th class="col-sm-1">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vehicle in items">
                <td>
                    <md-checkbox aria-label="Select one" ng-checked="exists(vehicle, selected)"
                                 ng-click="toggle(vehicle, selected)">
                    </md-checkbox>
                </td>
                <td>{{$index + 1}}</td>
                <td>{{vehicle.holder.name}}</td>
                <td>{{vehicle.licensePlate}}</td>
                <td>{{vehicle.brand}}</td>
                <td>{{vehicle.frameNumber | uppercase}}</td>
                <td>{{vehicle.registrationDate}}</td>
                <td>{{vehicle.startInsuranceTime}}~{{vehicle.endInsuranceTime}}</td>
                <td>{{vehicle.leftDays | isOverdue}}</td>
                <td>{{vehicle.evaluation | currency:'￥'}}</td>
                <td>{{vehicle.detain | isDetain}}</td>
            </tr>
            </tbody>
        </table>
        <section layout="row" layout-align="end end">
            <cl-paging flex cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
            总共 {{paging.totalElements}} 条记录
        </section>
    </md-card-content>
</md-card>