.loan-info td {
    border:1px solid #000000;
    font-size:12px;
    width: 63px;
    text-align:center;
}
.loan-info th {
    border:1px solid #000000;
    font-size:12px;
    text-align:center;
    width: 63px;
    vertical-align:middle;
}
.loan-info tr {
    border:1px solid #000000;
}